<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/jcss.css"%}">
    <title></title>
    <title></title>
  </head>
  <body>
    <div class="container" align = "center">

    <div class="jumbotron">
      <h1>ALL INDIA JOBS PORTAL</h1>
      <p>You can post or view all India jobs here...</p>
      <a class = "btn btn-primary btn-lg" href="/reg" role = "button">Add Job Info</a>&nbsp&nbsp&nbsp
      <a class = "btn btn-primary btn-lg" href="/display" role = "button">View Jobs List</a>&nbsp&nbsp&nbsp

    </div>
    </div>

  </body>
</html>
