<!DOCTYPE html>

{% extends 'authapp/base.html' %}
{% block body_block %}

<div class="container" align = "center">

<div class="jumbotron">

  <h1>Your Service Experts in Hyderabad</h1>
  <p>Get instant access to reliable and affordable services</p>
  <p>Signup to avail problem free services</p>
  <a class = "btn btn-primary btn-lg" href="/signup" role = "button">Signup</a>&nbsp&nbsp&nbsp
  <a class = "btn btn-primary btn-lg" href="/accounts/login" role = "button">Login</a>&nbsp&nbsp&nbsp

</div>
</div>
{% endblock %}
