<!DOCTYPE html>
{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

    <div class="blog-detail-container">
      <div class="blog-card-detail">


<img class="blog-card-cover-detail" src="{{ post.image.url }}" alt="Getting started with Artificial Intelligence img"/>
      <h4 class="headding-detail" align="center">{{post.title}} </h4>
      <p class="author_name_detail"> {{post.author}} <span class ="date-detail"> | {{post.date}}</span></p>
      <p class="paragraph-detail">

        {{post.content}}

      </p>

        <p class="paragraph-detail">For more, head down to <a href="https://www.edyoda.com/">https://www.edyoda.com/</a></p>


                      <div class="botton-sign-detail">


                          <img  class="bottom-sign-pic" src="https://edyoda.s3.amazonaws.com/media/profile-picture/0.png" alt="edyoda profile pic">
                          <div class="">


                          <p class="author_name_detail_bottom"> EdYoda</p>
                          <p class="paragraph-detail-bottom">Edyoda is an open platform to learn technology and share tech content </p>

                          </div>

                      </div>
                      <div class="bottom-button">
                        <button class="category_buttons" type="button" name="button">Artificial Intelligence</button>
                      </div>

      </div>
    </div>

    {% endblock %}
