<!DOCTYPE html>
{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="blog-container">

  <h1 class="trending_posts">Trending Posts</h1>

  <p class="filter-by"><span class="filter_icon"><img src="{% static 'images/filter-icon.png'%}" alt="filter-icon"></span>Filter by Category</p>

    <div >
      <a href="#"><button class="category_buttons_all" type="button" name="button">All</button></a>
      {% for cat in category %}
      <a href="{% url 'category_buttons' %}"><button class="category_buttons" type="button" name="button">{{cat.name}}</button></a>
      {% endfor %}
    </div>

      {% for post in posts %}
      <div class="blog-card">
       <body>
         <a class="card-anchor" href="/blogs/{{post.id}}">
         <img class="blog-card-cover" src="{{ post.image.url }}" alt="Fresh Graduate or IT professional img"/>
         <h4 class="headding" align="center">{{ post.title|truncatechars:40 }} </h4>
         <p class="author_name"> {{post.author}} <span class ="date"> | {{post.date}}</span></p>
         <p class="paragraph">{{post.content|truncatechars:100}}</p>
         </a>
       </body>
      </div>
      {% endfor %}
  </div>
{% endblock %}
