<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/style.css '%}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <title></title>
    </head>
    <div id="topbar">
      <a class="top-bar-logo" href="{% url 'display' %}">EdYoda</a>
      <div>
        <a class="top-bar-menu" href="#"><i class="fas fa-user"></i>  SignUp</a>
        <a class="top-bar-menu" href="#"><i class="fas fa-sign-in-alt"></i>  Login</a>
      </div>
    </div>
{%block content%}

{% endblock %}
    <footer>Copyright © EdYoda</footer>
</html>
